<ion-header [translucent]="true">
  <ion-toolbar class="my-custom-header">
   <ion-title>
   </ion-title>
   <ion-buttons slot="start">
     <ion-menu-button menu="main-menu"></ion-menu-button>
   </ion-buttons>
  
    <ion-button [routerLink]="['/home']" slot="end" color="success" class="button-home">
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-button>
    <ion-button slot="end" color="danger">
      <ion-icon slot="start" name="exit"></ion-icon>
      Sair
    </ion-button>
  
  </ion-toolbar>
  </ion-header> 


<ion-content [fullscreen]="true">
  
  <div id="container">
  <h3>Loja</h3>
  <ion-searchbar class="custom-searchbar ion-margin-top ion-margin-bottom" [debounce]="1000" color="success" placeholder="Procurar" (ionInput)="handleInput($event)"></ion-searchbar> 
  
  </div>  

    <ion-grid class="custom-list">
      <ion-row>
        <ion-col size="1" class="header-col">N.</ion-col>
        <ion-col size="4" class="header-col">Ref.</ion-col>
        <ion-col size="5" class="header-col">Descrição</ion-col>
        <ion-col size="2" class="header-col">Preço</ion-col>
      </ion-row>

      <ng-container *ngFor="let item of results; let i = index">
       <ion-row *ngIf="i >= ((itemsPorPagina * paginaActual)-itemsPorPagina) && i < (itemsPorPagina * paginaActual)"  [class]="i % 2 !== 0 ? 'even-row' : 'odd-row'">
          <ion-col class="col-iguales" size="1">{{i + 1}}</ion-col>
          <ion-col class="col-iguales" size="4"><a href="{{item.descricao}}" target="_blank"><img [src]="item.img"></a></ion-col>
          <ion-col class="col-iguales" size="5"><a href="{{item.descricao}}" target="_blank">{{ item.titulo }}</a></ion-col>
          <ion-col class="col-iguales" size="2">{{ item.preco }}</ion-col>
        </ion-row>
      </ng-container>
      

      <ion-row class="even-row">
        <ion-col size="12" size-md="12">
          <ion-button (click)="paginaActual = i" *ngFor="let i of generarRango(paginas)" [color]="paginaActual === i ? 'primary' : 'secondary'" >
            {{i}}
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- Repite ion-row para más filas -->
    </ion-grid>

</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title class="title-footer">Manual do Técnico ©</ion-title>
  </ion-toolbar>
</ion-footer>

