#container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  top: 10%;
}

@media (max-width: 767px), (max-width: 991px) { /* sm y md */
  #container {
    top: 0;
  }
}

ion-label, ion-list{
  background-color: #fff;
}

ion-content {
  //--background: rgb(241, 238, 241); //Color de fondo
  //--background: url("src/assets/images/background.jpg");
 --background: url('/assets/images/background.jpg') no-repeat center center / cover;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.my-custom-header {
  --background: rgb(50, 173, 226);

  ion-title{
    color: #fff;
  }
}

ion-icon {
  font-size: 64px;
  color: rgb(50, 173, 226);
}

.icon-header {
  font-size: inherit;
  color: inherit;
}

.icon-ferramentas {
  font-size: 24px;
  color: #060606;
}

ion-card-title{
  color: #1d1941;
}

ion-card{
  height: 10rem;
  background-color: rgb(235, 233, 233);
}

.card-software{
  height: 6.5rem;
  background-color: rgb(235, 233, 233);
}

ion-label:hover{
  background-color: rgb(255, 255, 255); /* Cambia al color de fondo al pasar el cursor */
  border: 2px solid rgb(210, 242, 25); /* Cambia al color de borde al pasar el cursor */
}

ion-card:hover {
  background-color: rgb(255, 255, 255); /* Cambia al color de fondo al pasar el cursor */
  border: 2px solid rgb(210, 242, 25); /* Cambia al color de borde al pasar el cursor */
}
.my-footer{
  color: var(--ion-color-primary-contrast);
  background-color: green !important;
}
