.my-custom-header {
    --background: rgb(50, 173, 226);
  
    ion-title{
      color: #fff;
    }
  }

  .custom-searchbar {
    max-width: 500px; /* Ajusta esto al ancho deseado */
    margin-left: auto;
    margin-right: auto;
  }

  .custom-list {
    max-width: 800px; /* Ajusta esto al ancho deseado */
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }

  .label-centrado {
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente para elementos flex */
    justify-content: center; /* Centra el contenido horizontalmente para elementos flex */
  }

  .header-col {
    background-color: #3880ff;
    color: white;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  
  .odd-row ion-col {
    background-color: #f4f4f4;
  }
  
  .even-row ion-col {
    background-color: #ffffff;
  }
  
  ion-col {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }

  ion-row {
    align-items: center; /* Centra verticalmente */
  }

  ion-row:hover {
    background-color: #72dddd !important;
  }
 
  .avatar-img {
  height: 50px;
  width: 50px; /* Mantiene la proporción de la imagen */
  margin: 0; /* Elimina los márgenes */
  }

  .avatar-col {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Asegúrate de que el ion-col tenga altura para centrar verticalmente */
  }

  .zoom-container {
    position: relative;
    overflow: hidden;
  }
  
  #zoom-img {
    transition: transform 0.25s ease;
    cursor: grab; /* Cambia el cursor a una mano para indicar que se puede mover */
  }
  
  .zoom-controls {
    position: absolute;
    top: 10px; /* Ajusta la posición según prefieras */
    right: 10px; /* Ajusta la posición según prefieras */
    z-index: 10; /* Asegura que los botones estén sobre la imagen */
  }
  
  /* Estilos adicionales para cuando se está moviendo la imagen */
  #zoom-img:active {
    cursor: grabbing;
  }
